<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>143563</key>
	<string>DZ</string>
	<key>143564</key>
	<string>AO</string>
	<key>143538</key>
	<string>AI</string>
	<key>143540</key>
	<string>AG</string>
	<key>143505</key>
	<string>AR</string>
	<key>143524</key>
	<string>AM</string>
	<key>143460</key>
	<string>AU</string>
	<key>143445</key>
	<string>AT</string>
	<key>143568</key>
	<string>AZ</string>
	<key>143559</key>
	<string>BH</string>
	<key>143490</key>
	<string>BD</string>
	<key>143541</key>
	<string>BB</string>
	<key>143565</key>
	<string>BY</string>
	<key>143446</key>
	<string>BE</string>
	<key>143555</key>
	<string>BZ</string>
	<key>143542</key>
	<string>BM</string>
	<key>143556</key>
	<string>BO</string>
	<key>143525</key>
	<string>BW</string>
	<key>143503</key>
	<string>BR</string>
	<key>143543</key>
	<string>VG</string>
	<key>143560</key>
	<string>BN</string>
	<key>143526</key>
	<string>BG</string>
	<key>143455</key>
	<string>CA</string>
	<key>143544</key>
	<string>KY</string>
	<key>143483</key>
	<string>CL</string>
	<key>143465</key>
	<string>CN</string>
	<key>143501</key>
	<string>CO</string>
	<key>143495</key>
	<string>CR</string>
	<key>143527</key>
	<string>CI</string>
	<key>143494</key>
	<string>HR</string>
	<key>143557</key>
	<string>CY</string>
	<key>143489</key>
	<string>CZ</string>
	<key>143458</key>
	<string>DK</string>
	<key>143545</key>
	<string>DM</string>
	<key>143508</key>
	<string>DO</string>
	<key>143509</key>
	<string>EC</string>
	<key>143516</key>
	<string>EG</string>
	<key>143506</key>
	<string>SV</string>
	<key>143518</key>
	<string>EE</string>
	<key>143447</key>
	<string>FI</string>
	<key>143442</key>
	<string>FR</string>
	<key>143443</key>
	<string>DE</string>
	<key>143573</key>
	<string>GH</string>
	<key>143448</key>
	<string>GR</string>
	<key>143546</key>
	<string>GD</string>
	<key>143504</key>
	<string>GT</string>
	<key>143553</key>
	<string>GY</string>
	<key>143510</key>
	<string>HN</string>
	<key>143463</key>
	<string>HK</string>
	<key>143482</key>
	<string>HU</string>
	<key>143558</key>
	<string>IS</string>
	<key>143467</key>
	<string>IN</string>
	<key>143476</key>
	<string>ID</string>
	<key>143449</key>
	<string>IE</string>
	<key>143491</key>
	<string>IL</string>
	<key>143450</key>
	<string>IT</string>
	<key>143511</key>
	<string>JM</string>
	<key>143462</key>
	<string>JP</string>
	<key>143528</key>
	<string>JO</string>
	<key>143517</key>
	<string>KZ</string>
	<key>143529</key>
	<string>KE</string>
	<key>143466</key>
	<string>KR</string>
	<key>143493</key>
	<string>KW</string>
	<key>143519</key>
	<string>LV</string>
	<key>143497</key>
	<string>LB</string>
	<key>143522</key>
	<string>LI</string>
	<key>143520</key>
	<string>LT</string>
	<key>143451</key>
	<string>LU</string>
	<key>143515</key>
	<string>MO</string>
	<key>143530</key>
	<string>MK</string>
	<key>143531</key>
	<string>MG</string>
	<key>143473</key>
	<string>MY</string>
	<key>143488</key>
	<string>MV</string>
	<key>143532</key>
	<string>ML</string>
	<key>143521</key>
	<string>MT</string>
	<key>143533</key>
	<string>MU</string>
	<key>143468</key>
	<string>MX</string>
	<key>143523</key>
	<string>MD</string>
	<key>143547</key>
	<string>MS</string>
	<key>143484</key>
	<string>NP</string>
	<key>143452</key>
	<string>NL</string>
	<key>143461</key>
	<string>NZ</string>
	<key>143512</key>
	<string>NI</string>
	<key>143534</key>
	<string>NE</string>
	<key>143561</key>
	<string>NG</string>
	<key>143457</key>
	<string>NO</string>
	<key>143562</key>
	<string>OM</string>
	<key>143477</key>
	<string>PK</string>
	<key>143485</key>
	<string>PA</string>
	<key>143513</key>
	<string>PY</string>
	<key>143507</key>
	<string>PE</string>
	<key>143474</key>
	<string>PH</string>
	<key>143478</key>
	<string>PL</string>
	<key>143453</key>
	<string>PT</string>
	<key>143498</key>
	<string>QA</string>
	<key>143487</key>
	<string>RO</string>
	<key>143469</key>
	<string>RU</string>
	<key>143479</key>
	<string>SA</string>
	<key>143535</key>
	<string>SN</string>
	<key>143500</key>
	<string>RS</string>
	<key>143464</key>
	<string>SG</string>
	<key>143496</key>
	<string>SK</string>
	<key>143499</key>
	<string>SI</string>
	<key>143472</key>
	<string>ZA</string>
	<key>143454</key>
	<string>ES</string>
	<key>143486</key>
	<string>LK</string>
	<key>143548</key>
	<string>KN</string>
	<key>143549</key>
	<string>LC</string>
	<key>143550</key>
	<string>VC</string>
	<key>143554</key>
	<string>SR</string>
	<key>143456</key>
	<string>SE</string>
	<key>143459</key>
	<string>CH</string>
	<key>143470</key>
	<string>TW</string>
	<key>143572</key>
	<string>TZ</string>
	<key>143475</key>
	<string>TH</string>
	<key>143539</key>
	<string>BS</string>
	<key>143551</key>
	<string>TT</string>
	<key>143536</key>
	<string>TN</string>
	<key>143480</key>
	<string>TR</string>
	<key>143552</key>
	<string>TC</string>
	<key>143537</key>
	<string>UG</string>
	<key>143444</key>
	<string>GB</string>
	<key>143492</key>
	<string>UA</string>
	<key>143481</key>
	<string>AE</string>
	<key>143514</key>
	<string>UY</string>
	<key>143441</key>
	<string>US</string>
	<key>143566</key>
	<string>UZ</string>
	<key>143502</key>
	<string>VE</string>
	<key>143471</key>
	<string>VN</string>
	<key>143571</key>
	<string>YE</string>
</dict>
</plist>
